@media(max-width:1400px) {
    .bg {
        display: none;
    }

    .popOut-taskCard {
        /*width: 80vw;*/
        width: 970px;
        box-shadow: none;
        border-radius: 30px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    }

    .closeBtnContainer {
        box-sizing: border-box;
        width: 95%;
        display: flex;
        justify-content: flex-end;
        margin-top: -25px;
    }

    .headline {
        width: 98%;
    }

    .contentContainer {
        padding-left: 25px;
        padding-right: 25px;
    }

    .buttonsContainer {
        width: auto;
        margin-left: -182px;
    }

    .clearButton {
        position: absolute;
        left: 580px;
        top: 720px;
    }

    .midLine {
        margin-left: 25px;
        margin-right: 25px;
    }

    .topBoxRight {
        margin-left: 0px;
    }

    .bottomBoxRight {
        margin-left: 0px;
    }
}

@media(max-width: 1280px) {
    #bg{
        left: 230px !important;
    }

    .headline {
        width: 94%;
    }

    .popOut-taskCard {
        margin-top: unset;
        top: -50px;
    }

    .topBoxLeft {
        width: 380px;
    }

    .titleContainer {
        width: auto;
    }

    .descriptionContainer {
        width: auto;
    }

    .topBoxRight {
        width: 380px;
    }

    .d-column {
        width: auto !important;
    }

    .prioContainer {
        width: auto !important;
    }

    .bottomBoxLeft {
        width: 380px;
    }

    .categoryContainer {
        width: auto;
    }

    .assignContainer {
        width: auto !important;
    }

    .bottomBoxRight {
        width: 380px;
    }

    .addSubtaskContainer {
        width: auto !important;
    }

    .bg {
        display: none;
    }

    .popOut-taskCard {
        width: 900px;
        box-shadow: none;
        border-radius: 0px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    }

    .closeBtnContainer {
        position: absolute;
        top: 26px;
        box-sizing: border-box;
        width: 90%;
        display: flex;
        justify-content: flex-end;
    }

    .midLine {
        margin-left: 15px;
        margin-right: 15px;
    }

    .buttonsContainer {
        width: auto;
        margin-left: -182px;
        z-index: 2;
        margin-top: 296px;
    }

    .clearButton {
        position: absolute;
        left: 474px;
        top: 725px;
    }

    .buttonOpenClose {
        padding-left: 65px;
    }

    .assignInput {
        width: 255px;
    }

    .newAssignToInput, .newCategoryInput{
        padding-left: 10px !important;
    }

    .input{
        width: 238px !important;
    }

    .subtaskOninput{
        padding-left: 0px !important;
    }
}

@media(max-width:1100px) {
    #bg{
        top: 80px !important;
        left: 230px !important;
    }

    .headlineContainer {
        display: flex;
        justify-content: center;
    }

    .SubtaskAppendixContainer {
        padding-bottom: 110px;
    }

    .popOut-taskCard {
        margin-top: 96px;
    }

    .bg {
        display: none;
    }

    .popOut-taskCard {
        width: 100%;
        height: 100%;
        border-radius: 0px;
        box-shadow: none;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    }

    .closeBtnContainer {
        position: absolute;
        top: 110px;
        width: 85%;
        display: flex;
        justify-content: center;
        margin-left: 0px;
    }

    .closeBtnContainer span {
        width: 422px;
        display: flex;
        justify-content: flex-end;
    }

    .contentContainer {
        box-sizing: border-box;
        width: 85%;
        height: 100%;
        margin-left: 0px !important;
    }

    .scrollY {
        overflow-y: scroll !important;
    }

    .headline {
        display: flex;
        justify-content: space-between;
        width: 380px;
    }

    .topBoxRight {
        flex-direction: column-reverse;
    }

    .topContent {
        display: flex;
        flex-direction: column !important;
        align-items: center;
    }

    .midLine {
        display: none;
    }

    .bottomContent {
        display: flex;
        flex-direction: column !important;
        align-items: center;
    }

    .buttonsContainer {
        display: none;
    }

    .createButtonResponsiveContainer {
        position: absolute;
        top: -72px;
        z-index: 91;
        display: flex;
        justify-content: center;
        height: 51px;
        width: 85%;
        border: none;
    }

    .createButtonResponsiveContainer div {
        width: 380px;
        height: 51px;
        display: flex;
        justify-content: flex-end;
        border: none;
    }

    .createButtonResponsive {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 21px;
        line-height: 120%;
        color: #FFFFFF;
        background: #2A3647;
        border-radius: 10px;
        width: 124px;
    }

    .createButtonResponsive:hover {
        border: none;
        background-color: #29ABE2;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .createButtonResponsive:active {
        background-color: #091931;
    }

    .titleContainer {
        box-sizing: border-box;
        width: 100% !important;
    }

    .kanban {
        display: none !important;
    }

    .profile-container-d-none {
        display: none;
    }

    .KanbanResponsive {
        position: absolute;
        top: 25px;
        display: flex;
        width: 100%;
        justify-content: center;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
        color: #000000;
    }

    .KanbanResponsive span {
        width: 422px;
    }

    .clearButton {
        display: none;
    }

    .newAssignToInput, .newCategoryInput{
        padding-left: 10px;
    }

    .input{
        width: 238px !important;
    }
    .subtaskOninput{
        padding-left: 0px !important;
    }
}

@media(max-width:800px) {
    .assignedList {
        padding-right: 10px !important;
    }

    .kanban {
        display: none;
    }

    .scrollY {
        overflow-y: scroll !important;
    }

    .bg {
        display: none;
    }

    .popOut-taskCard {
        width: 100%;
        background: #f6f7f8;
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 0px;
        margin-top: 79.02px;
        display: flex;
        flex-direction: column;
        box-shadow: none !important;
        border-radius: 0px !important;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    }

    .popOut-hidden {
        position: fixed;
        top: -10px;
        left: 130px;
        width: 100%;
        height: auto;
        background: #f6f7f8;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        margin: 100px;
        z-index: 6;
        transform: translate(1870px, 0px);
        transition: 200ms;
    }

    .closeBtnContainer {
        position: absolute;
        top: 27px;
        box-sizing: border-box;
        width: 363px;
        display: flex;
        justify-content: flex-end;
    }

    .headlineContainer {
        display: flex;
        justify-content: center;
    }

    .headline {
        display: flex;
        justify-content: space-between;
        height: 78px;
        margin-top: 27px;
        padding-left: 0px;
        font-size: 47px;
        width: 363px !important;
    }
}