@media(max-width: 1300px) {
    .board-header {
        gap: 27%;
        margin-left: 240px;
    }
    
    .change-category{
        display: flex;
        flex-direction: column;
        gap: 3px;
    }

    .working-class {
        display: flex;
        height: 30px;
        margin-top: 37px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
    }

    .position-board-flex {
        width: 85%;
    }

    .drag-drop-height {
        min-height: 80%;
    }

    .add-button-small {
        display: none;
    }

    .search-input-small {
        display: none;
    }

    .close-icon-small {
        display: none;
    }
}

@media(max-width: 1080px) {
    .board-header {
        gap: unset;
        width: 67vw;
    }

    h2 {
        font-size: 50px;
    }

    .search-button {
        gap: 24px;
    }

    .add-button-small {
        display: none;
    }

    .search-input-small {
        display: none;
    }

    .close-icon-small {
        display: none;
    }

    .search-input {
        background-position-x: 185px;
        width: 220px;
    }
}

@media(max-width: 800px) {
    .body {
        background-color: #F5F5F5;
    }

    .header{
        position: fixed;
    }

    #kanban{
        position: fixed;
    }

    .board-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 114px;
        justify-content: center;
        margin-left: unset;
        width: unset;
    }

    .working-class {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .position-board {
        margin: unset;
    }

    .drag-drop-height {
        padding-bottom: 70px;
    }

    .search-input-small {
        display: none;
    }

    .add-button-small {
        display: none;
    }

    .close-icon-small {
        display: none;
    }

    .display-unset{
        display: none;
    }
}

@media(max-width: 640px) {
    .position-board-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .search-input {
        display: none;
    }

    .search-input-small {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 13px 21px;
        border-radius: 10px;
        background: url(search.png) no-repeat right top;
        background-position: right center;
        background-position-x: 220px;
        width: 251px;
        height: 41px;
        border: 1px solid #A8A8A8;
        border-radius: 10px;
        margin-left: 33px;
        background-color: white;
    }

    .add-button-small {
        display: flex;
        align-items: center;
        padding: 18px 10px;
        width: 40px;
        height: 40px;
        background: #2A3647;
        border: 1px solid #2A3647;
        border-radius: 10px;
        cursor: pointer;
    }

    .add-button {
        display: none;
    }

    .search-button {
        width: unset;
    }

    .board-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 114px;
        justify-content: space-between;
        margin-left: 30px;
        width: unset;
        margin-right: 33px;
    }

    h2 {
        font-size: 47px;
        line-height: 120%;
    }

    .working-headlines {
        width: unset;
    }

    .position-board-flex {
        width: 100%;
    }

    .width100 {
        width: 100%;
    }

    .margin-left {
        margin-left: 33px;
    }

    .margin-right {
        margin-right: 33px;
    }

    .card {
        margin-left: 33px;
        margin-right: 33px;
        width: unset;
    }

    .margin-top {
        margin-top: 20px;
    }

    .no-cards {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 41px;
        background: #D1D1D1;
        border: 1px dashed #A8A8A8;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        margin-left: 33px;
        margin-right: 33px;
        margin-top: 20px;
    }

    .overlay {
        width: 100%;
        background-color: #F6F7F8;
        height: calc(100% - 90px);
        margin-top: 90px;
        border-radius: unset;
        gap: 20px;
        padding-left: 32px;
        padding-right: 32px;
        top: -15px;
        overflow-y: scroll;

    }

    .overlay-department {
        font-size: 21px;
    }

    .noscroll {
        overflow: hidden;
    }

    .overlay-header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    .overlay-edit-task-position {
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        gap: 16px;
    }

    .overlay-delete-task {
        border-radius: 10px;
        width: 40px;
        height: 40px;
    }

    .close-icon-small {
        width: 24px;
        height: 24px;
        display: unset;
        cursor: pointer;
    }

    .overlay-edit-task {
        border-radius: 10px;
        margin-bottom: 60px;
    }

    .close-icon {
        display: none;
    }

    .subtasks-flex {
        display: flex;
        flex-wrap: wrap;
    }

    .container {
        margin-right: 20px;
    }

    .priority {
        margin-top: 0px !important;
    }

    .prioUrgentBox,
    .prioMediumBox,
    .prioLowBox {
        height: 41px;
        width: 111px;
    }

    .assignedTo {
        margin-top: 0px !important;
    }

    .contactInputContainerBoard {
        box-sizing: unset;
        width: 90%;
    }

    .buttonOpenCloseBoard {
        padding-left: unset;
    }

    .close-icon-change {
        display: none;
    }

    .overlay-date {
        font-size: 16px;
    }

    .overlay-title {
        font-size: 36px;
    }

    .overlay-text {
        font-size: 16px;
    }

    .overlay-chance-task {
        width: 85px;
        height: 40px;
        margin-bottom: 60px;
    }

    .input-chances-title {
        font-size: 16px !important;
    }


    .input-chances-text {
        font-size: 16px;
    }

    .display-none {
        display: none;
    }

    .assign-input {
        font-size: 16px !important;
    }

    .assignedList {
        padding-left: 21px;
        padding-right: 21px;
        width: 90% !important;
        box-sizing: unset !important;
    }
}

@media(max-width: 490px) {
    .priorityBoxesContainerBoard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 140px;
    }
}

@media(max-width: 350px) {
    .search-input-small {
        width: 150px;
        background-position-x: 120px;
    }

    .assigned-to-board {
        width: 98%;
    }

    .initiales-Overlay {
        width: 30px;
        height: 30px;
    }

    .position-assigend-to {
        gap: 10px;
    }

    .assign-input {
        font-size: 16px !important;
        width: 120px !important;
    }
}

@media(max-width: 280px) {

    .overlay {
        padding-left: 2%;
        padding-right: 9%;
    }
}