body{
    background-color: #F5F5F5;
}

.board-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40%;
    width: 70vw;
    margin-top: 114px;
    margin-left: 302px;
}

.board-header-h2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 176px;
}

h2 {
    font-size: 61px;
    line-height: 120%;
}

.search-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 35px;
    width: 423px;
    height: 51px;
}

.search-input {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 21px;
    gap: 10px;
    width: 251px;
    height: 51px;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    background: url(search.png) no-repeat right top;
    background-color: white;
    background-position: right center;
    background-position-x: 220px;
}

.add-button {
    display: flex;
    align-items: center;
    padding: 18px 10px;
    width: 137px;
    height: 51px;
    background: #2A3647;
    border: 1px solid #2A3647;
    border-radius: 10px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 21px;
    color: #FFFFFF;
    cursor: pointer;
}



.add-button:hover {
    background-color: rgb(41, 171, 226);
}

.add-button:active {
    background-color: rgb(9, 25, 49);
}

.add-button-img {
    margin-left: 6px;
}

.plus-btn:hover {
    filter: invert(59%) sepia(35%) saturate(1765%) hue-rotate(165deg) brightness(94%) contrast(87%);
}

.plus-btn:active {
    filter: invert(73%) sepia(2%) saturate(2510%) hue-rotate(177deg) brightness(72%) contrast(87%);
}

.position-board {
    margin-left: 20%;
    position: relative;
    margin-right: 10px;
}

.position-board-flex {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.working-class {
    display: flex;
    justify-content: space-around;
    height: 30px;
    margin-top: 37px;
}

.working-headlines {
    display: flex;
    justify-content: space-between;
    height: 30px;
    font-weight: 700;
    font-size: 21px;
    width: 250px;
    align-items: center;
}

.working-headlines img {
    box-sizing: border-box;
    display: flex;
    padding: 3px;
    height: 30px;
    border: 2px solid #2A3647;
    border-radius: 10px;
    cursor: pointer;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 18px 19px;
    gap: 10px;
    width: 250px;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    box-sizing: border-box;
    margin-top: 37.5px;
    cursor: pointer;
}

.dragging {
    transform: rotate(15deg);
    transition: all 125ms;
}

.background {
    padding: 4px 25px;
    border-radius: 8px;
    margin-bottom: 10px;
    color: white;
}

.background-black {
    background-color: #000000;
}

.width100 {
    width: 100%;
}

.progress {
    width: 138px;
}

.progressBar {
    height: 8px;
    background-color: rgb(41, 171, 226);
}

.position-progress {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.count {
    font-size: 12px;
}

.initiales {
    width: 35px;
    height: 35px;
    border: 1px solid #FFFFFF;
    border-radius: 58px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -8px;
}

.initiales-Overlay {
    width: 45px;
    height: 45px;
    border: 2px solid #FFFFFF;
    border-radius: 58px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.position-cards-bottom {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.flex {
    display: flex;
    padding-left: 8px;
}

.text-color {
    color: rgb(184, 184, 184);
}

.margin-left {
    margin-left: 8px;
}

.margin-right {
    margin-right: 8px;
}

.d-none {
    display: none !important;
}

.overlay {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-left: 70px;
    padding-right: 70px;
    gap: 25px;
    width: 562px;
    z-index: 5;
    background: #FFFFFF;
    border-radius: 30px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    box-sizing: border-box;
    top: 150px;
}

.overlay-department {
    padding: 4px 36.5px;
    background: #FC71FF;
    border-radius: 8px;
    font-size: 27px;
    color: #FFFFFF;
}

.overlay-title {
    font-size: 61px;
    font-weight: 700;
}

.overlay-text {
    font-size: 21px;
}

.overlay-date {
    font-size: 21px;
}

.drag-drop-height {
    min-height: 525px;
    padding-bottom: 50px;
}

.close-icon {
    margin-top: -15px;
    margin-right: -15px;
    cursor: pointer;
}

.close-icon-change {
    margin-top: -27px;
    margin-right: -27px;
    cursor: pointer;
}

.overlay-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.overlay-edit-task {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 6px;
    width: 50px;
    height: 50px;
    background: #2A3647;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
    border: 1px solid #2A3647;
}

.overlay-delete-task {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #2A3647;
    border-radius: 10px 0px 0px 10px;
}

.color-change:hover {
    filter: invert(63%) sepia(57%) saturate(2561%) hue-rotate(165deg) brightness(93%) contrast(90%);
}

.color-change:active {
    filter: invert(5%) sepia(47%) saturate(3750%) hue-rotate(208deg) brightness(94%) contrast(94%)
}

.overlay-edit-task:hover {
    background-color: rgb(41, 171, 226);
}

.overlay-edit-task:active {
    background-color: rgb(9, 25, 49);
}

.overlay-chance-task {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    gap: 6px;
    width: 57px;
    height: 49px;
    background: #2A3647;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    margin-right: -25px;
}

.overlay-chance-task:hover {
    background-color: rgb(41, 171, 226);
}

.overlay-chance-task:active {
    background-color: rgb(9, 25, 49);
}

.overlay-edit-task-position {
    width: 100%;
    display: flex;
    justify-content: end;
}

.overlay-background {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.display {
    display: flex;
}

.no-cards{
    display: none;
}