body {
    background-color: #F5F5F5;
    position: relative;
}

a {
    cursor: pointer;
}

.success {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2A3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    width: 326px;
    height: 74px;
    z-index: 9999999;
    color: white;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 20%;
}
@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

.animate-contact {animation: 4s fadeOut ease-in-out;}

.desktop {
    margin-left: 230px;
    background: #F5F5F5;
    display: flex;
}

#bg {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: 13;
}

.big-container {
    display: flex;
}

.left-container {
    margin-top: 85px;
    overflow-y: auto;
    width: 453px;
    background: #FFFFFF;
    box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);
    height: calc(100vh - 89px);

}

/* width */
.left-container::-webkit-scrollbar {
    width: 15px;
}

/* Track */
.left-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
.left-container::-webkit-scrollbar-thumb {
    background: #A8A8A8;
    border-radius: 10px;
}

/* Handle on hover */
.left-container::-webkit-scrollbar-thumb:hover {
    background: #A8A8A8;
}

.contact-container {
    margin-top: 2px;
    margin-left: 48px;
    margin-right: 48px;

}

.contact-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#letter-container {
    display: flex;
    align-items: center;
    height: 60px;
    margin-left: 37.5px;
    font-weight: 400;
    font-size: 21px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.vertical-line {
    width: 323px;
    height: 0px;
    border: 1px solid #D1D1D1;
    border-radius: 3px;
    margin-left: 17px;
    margin-top: 14px;
    margin-bottom: 14px;
}

.name-card {
    height: 79px;
    display: flex;
    width: 357px;
    border-radius: 10px;
    align-items: center;
}

.name-card:hover {
    background: #2A3647;
    color: white;
    cursor: pointer;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    background-color: orange;
    border: 1px solid white;
    color: white;
    border-radius: 50%;
    margin-left: 25px;
    margin-top: 15px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 35px;
}

.info h4 {
    font-weight: 400;
    font-size: 21px;
    margin: 0px;

}

.info p {
    font-weight: 400;
    font-size: 16px;
    color: #007CEE;
    margin: 0px;

}

.width-btn{
    width: 153px !important;
}

.right-container {
    margin-top: 89px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 89px);
}

.line-blue {
    width: 0px;
    height: 59px;
    border: 3px solid #29ABE2;
    border-radius: 10px;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 30px;
    margin-right: 30px;
}


.head-contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.html-topic-sub {
    display: flex;
    align-items: center;
}

.html-topic {
    height: 73px;
    display: flex;
    align-items: center;
    margin-left: 58px;
    margin-top: 82px;
}

.html-topic h2 {
    margin: 0px;
    font-weight: 700;
    font-size: 61px;
    width: 274px;
    height: 73px;
}

.html-topic p {
    margin: 0px;
    font-weight: 400;
    font-size: 27px;
}

.html-topic img {
    width: 16px;
    height: 15.56px;
    margin-right: 68px;
    display: none;
}

.html-topic img:hover {
    cursor: pointer;
}

.position-top {
    display: none !important;
    right: 10px;
    position: fixed;
    width: 193px !important;
    height: 61px !important;
}

.button-container button {
    font-weight: 700;
    font-size: 21px;
    border: 1px solid #2A3647;
    border-radius: 10px;
    padding: 18px 10px;
    background-color: #2A3647;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 193px;
    height: 53px;
    cursor: pointer;
    border: none;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 64px;
}

.button-container button:hover {
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button-container button:active {
    background-color: #091931;
}

.img {
    width: 33px;
    height: 29.71px;
}

.add-contact-card {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 1212px;
    height: 594px;
    border-radius: 30px;
    display: flex;
    z-index: 14;
    transform: translate(-50%, -50%);
    transition: 200ms;
}

.hidden {
    position: fixed;
    left: 1500%;
    top: 50%;
    width: 1212px;
    height: 594px;
    border-radius: 30px;
    display: flex;
    z-index: 9;
    transform: translate(-50%, -50%);
    transition: 1s;

}

.card-container-left {
    padding: 66px 39px;
    width: 463px;
    background: #2A3647;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

.card-container-left img {
    margin-top: 88px;
    width: 55.12px;
    height: 66.48px;
}

.card-container-left h3 {
    font-weight: 700;
    font-size: 61px;
    width: 100%;
    height: 73px;
    margin: 0px;
    margin-top: 12.02px;
    margin-bottom: 12px;
}

.card-container-left p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    height: 32px;
    margin: 0px;
    margin-bottom: 12px;
}

.card-container-left h3 {
    color: white;
}

.vertical-blue-line {
    display: block;
    width: 90px;
    height: 0px;
    border: 3px solid #29ABE2;
    border-radius: 20px;
}

.card-container-right {
    background-color: white;
    height: 100%;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

}

.icon-container {
    border-radius: 50%;
    margin-left: 70px;
    margin-right: 84px;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 500;
    font-size: 47px;
    border: 3px solid #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);

}

.close-contact-container1 {
    display: none;
    justify-content: flex-end;
    width: 100%;
    position: absolute;
    z-index: 99;
    top: 26px;
}

.close-contact-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.close-card1 {
    margin-right: 23.4px !important;
    width: 21.65px !important;
    height: 21.65px !important;
    margin-left: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px;
    cursor: pointer;

}

.close-card {
    margin-right: 63.18px !important;
    width: 21.65px !important;
    height: 21.65px !important;
    margin-left: 0px !important;
    margin-top: 26px;
    margin-bottom: calc(72.38px - 24.5px);
    cursor: pointer;
}

.margin-left {
    margin-left: 54px;
}

.card-container-right input {
    margin-right: 52px;
    margin-bottom: 24.5px;
    margin-top: 24.5px;
    width: 380px;
    height: 25px;
    padding: 13px 21px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;

}

.contact-flex {
    display: flex;
    align-items: center;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contact-name {
    background-image: url("../assets/img/contact-name-icon.png");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 381px;
    background-size: 16px;
}

#contact-email {
    background-image: url("../assets/img/contact-email-icon.png");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 381px;
    background-size: 18px;
}

#contact-phone {
    background-image: url("../assets/img/contact-phone-icon.png");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 381px;
    background-size: 19.5px;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    margin-left: 274px;
    margin-right: 106px;
    margin-top: calc(55px - 24.5px);
    width: 369px;
    height: 61px;
}

.btn-contact-white {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 136px;
    height: 61px;
    padding: 18px 10px;
    border: 1px solid #2A3647;
    border-radius: 10px;
    color: #2A3647;
    background-color: white;
    font-weight: 400;
    font-size: 21px;
    cursor: pointer;
}

.btn-contact-white:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    color: #29ABE2;
    border: 2px solid #29ABE2;
}

.btn-contact-white:active {
    border: 1px solid #091931;
    color: #091931;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.btn-contact-white:hover .cancel-img {
    filter: invert(56%) sepia(91%) saturate(956%) hue-rotate(165deg) brightness(92%) contrast(91%);
}

.btn-contact-white:active .cancel-img {
    filter: none;
}

.cancel-img {
    height: 10.45px !important;
    width: 10.45px !important;
    margin-left: 16.76px !important;
    margin-right: 0px !important;
}

.btn-contact-blue {
    justify-content: center;
    display: flex;
    align-items: center;
    height: 61px;
    background: #2A3647;
    border-radius: 10px;
    padding: 18px 10px;
    color: white;
    font-weight: 700;
    font-size: 21px;
    border: none;
    cursor: pointer;
}

.btn-contact-blue:hover {
    background: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-contact-blue:active {
    background: #091931;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.create-contact-img {
    height: 12px !important;
    width: 16px !important;
    margin-left: 14px !important;
    margin-right: 0px !important;
}

.floating-contact-container {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    margin-left: 65px;
    height: 364px;
}

.name-container {
    margin-bottom: 21px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.name-container a {
    display: flex;
    align-items: center;
    color: #29ABE2;
    margin-top: 13px;
}

.name-container a p {
    margin: 0px;
}

.name-container img {
    margin-right: 13px;
    width: 15px;
    height: 15px;

}

.contact-information {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 392.85px;
    height: 74px;
}

.contact-information a {
    display: flex;
    align-items: flex-end;
    cursor: pointer;
}

.contact-information img {
    object-fit: scale-down;
    margin-right: 6px;
    width: 32.85px;
    height: 29.34px;
}

.contact-information h4 {
    font-weight: 400;
    font-size: 21px;
    margin: 0px;

}

.contact-information p {
    margin: 0px;
    color: #2A3647;
    font-weight: 400;
    font-size: 16px;
}

.contact-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 500;
    font-size: 47px;
    background-color: #091931;
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

#float-contact-name {
    margin: 0px;
    font-weight: 500;
    font-size: 47px;
}

.contact-details h4 {
    margin: 0px;
    margin-bottom: 15px;
}

.contact-details p {
    margin: 0px;
    margin-bottom: 15px;
}

.responsive-buttons {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 68px;
    margin-top: 47px;
}

.delete-button-responsive {
    width: 40px;
    height: 40px;
    margin-bottom: 16px;
    border: 1px solid #2A3647;
    background: linear-gradient(180deg, #F9F9F9 0%, #F0F0F0 100%);
    border-radius: 10px;
    cursor: pointer;
}

.edit-button-responsive {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    border: 1px solid #2A3647;
    background: #2A3647;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #2A3647;
}

#kanban-contact{
    display: none;
}

